<form class="centerAlignment">

    <md-input-container class="md-block" flex-gt-sm>
        <label>kcal</label>
        <input ng-model="recipe.kcal">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>fat</label>
        <input ng-model="recipe.fat">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>saturates</label>
        <input ng-model="recipe.saturates">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>carbs</label>
        <input ng-model="recipe.carbs">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>sugars</label>
        <input ng-model="recipe.sugars">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>fibre</label>
        <input ng-model="recipe.fibre">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>protein</label>
        <input ng-model="recipe.protein">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>salt</label>
        <input ng-model="recipe.salt">
    </md-input-container>



    <md-button class="md-raised md-primary" ng-click="enterRecipe()">Enter Recipe</md-button>


</form>